.navbar {
    width: 90vw;
    height: 10vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navList {
    list-style: none;
    display: inline-flex;
    align-items: center;
    gap:20px;
}

.navList li a {
    color: white;
    text-decoration: none;
    color: #FFF;
    font-family: 'Agrandir';
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 18px; /* 150% */
    letter-spacing: 0.5px;
    text-transform: uppercase;
}