.container {
    background: #000;
    color: white;
    background-image: url('/public/assets/images/lines.svg');
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    max-width: 100vw;
    overflow: hidden;
    height: 100vh;
}

.cube {
    position: absolute;
    top: 7vh;
    left: 25vw;
}

.cubes {
    position: absolute;
    bottom: 10vh;
    left: 15vw;
    width: 17vw;
    height: 25vh;
}

.pillar {
    position: absolute;
    bottom: 0;
    width: 25vw;
    height: 35vh;
    z-index: 1;
    right: 15vw;
}

.stair {
    position: absolute;
    right: 7vw;
    top: 8vh;
    width: 15vw;
    height: 35vh;
}

.heroHead {
    text-align: center;
    margin: 0;
    font-family: 'Agrandir';
    font-size:13.6em;
    letter-spacing: -2vw;
    text-transform: uppercase;
}

.text {
    margin: 18.9vh 0vw 0 25.9vw;
    padding: 0;
    z-index:4;
    display: flex;
    flex-direction: column;
}

.mobile {
    position: absolute;
    top: 20%;
    left: 36.30vw;
    width: 27.3%;
    height: 66vh;
    z-index: 0;
}
.cash {
    width: 47vw;
    height: 21.5vh;
}
.app {
    width: 36vw;
    height: 20vh;
    margin: 2vh 0 0 6vw;
}


@media screen and (max-width:1000px) {
    .cube {
        left: 15vw; 
    }
    .cubes {
        left: 7vw;
        bottom: 15vh;
        width: 20vw;
    }
    .pillar {
        right: 10vw;
    }
}
@media screen and (max-width:700px) {

    .cubes {
        left: 3vw;
        bottom: 25vh;
        width: 20vw;
    }
}
@media screen and (max-width:550px) {
    .cubes {
        left: 3vw;
        bottom: 25vh;
        width: 20vw;
    }
    .mobile {
        width: 45vw;
        height: 60vh;
        top: 17%;
        left: 30%;
        z-index: 5;
    }
    .text {
        margin: 15.2vh 0 5vh 11.4vw;
        height: 40vh;
        width: auto;
    }
    .cash {
        z-index: 4;
        width: 80vw;
        height: 19.4vh;
    }
    .app {
        z-index: 4;
        width: 60vw;
        height: 18.1vh;
        margin: 1.9vh 0 0 10.5vw;
    }
    .pillar {
        right: 10vw;
    }
}
