.container {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow: hidden;
    background: #00D54B;
    background-image: url('/public/assets/images/lines.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.info {
    width: 100vw;
    height: 40vh;
    text-align: center;
    padding-top: 15vh;
}

.text {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
    margin-top: 2vh;
}

.block {
    width: 20vw;
    text-align: start;
    position: relative;
}

.block > h2 {
    font-family: 'Agrandir';
    text-align: start;
    font-size: 1.3rem;
    margin: 0;
    font-style: normal;
    font-weight: 800;
    line-height: 40px; /* 181.818% */
}

.block > p {
    font-family: 'Mulish', sans-serif;
    /* font-family: 'VT323', monospace; */
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.3px;
}

.header {
    color: #FFF;
    font-family: 'Agrandir';
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    margin: 0;
    margin-bottom: 10vh;
    /* line-height: 40px; 100% */
}

.footer {
    width: 100vw;
    height: 45vh;
    margin: 0;
    padding: 0;
    background: #FFF;
    background-image: url('/public/assets/images/floor.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footerMain {
    position: absolute;
    bottom: 0vh;
    margin: 0;
    padding: 0;
    left: 5vw;
    width: 90vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.icons {
    width: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightImage {
    position: absolute;
    right: 0;
    bottom: 5vh;
    width: 30vw;
    margin-bottom: 10vh;
}
.leftImage {
    width: 45vw;
}

.graph {
    position: absolute;
    right: 0;
    bottom: 35vh;
    
}

.imageContainer {
    position: relative;
    bottom: 25vh;
    z-index: 4;
}

.imageContainer > img {
    width: 15vw;
    height: 50vh;
}



@media screen and (max-width:1000px) {
    .info {
        padding-top: 5vh;
        height: 50vh;
    }
    .text {
        width: 90vw;
        display: flex;
        justify-content: space-between;
    }
    
    .imageContainer > img {
        width: 25vw;
        height: 50vh;
    }
}

@media screen and (max-width:750px) {
    .info {
        display: flex;
        flex-direction: column;
        height: 80vh;
    }
    .text {
        width: 90vw;
        display: flex;
        justify-content: space-around;
    }
    .block {
        width: 40vw;
    }
    .imageContainer {
        width: 100vw;
        display: flex;
        justify-content: space-around;
    }
    
    .imageContainer > img {
        width: 40vw;
        height: 50vh;
    }
    .rightImage {
        width: 50vw;
        height: 40vh;
    }
    .leftImage{
        width: 40vw;
        height: 40vh;
    }
    .imageContainer {
        position: static;
    }
    /* .footer {
        height: 50vh;
    } */
}


@media screen and (max-width:400px) {
    .text {
        padding-top: 0;
    }
    .imageContainer {
        width: 100vw;
    }
    .imageContainer > img {
        width: 40vw;
        height: 50vh;
    }
    .block {
        width: 50vw;
    }
}


@media screen and (max-width:1100px) {
    .footerMain {
        height: 20vh;
        margin-top: 7vh;
    }
}

@media screen and (max-width:700px) {
    .footerMain {
        align-items: center;
        /* width: 90 */
        height: 30vh;
        margin-top: 0;
    }
    .icons {
        margin-top: -5vh;
        margin-left: 10vw;
        width: 20vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (max-width:400px) {
    .footerMain {
        left: 2.5vw;
        width: 95vw;
        margin: 0;
    }
    
    .imageContainer > img {
        width: 40vw;
        height: 40vh;
    }
}