.container {
    background: #000;
    max-width: 100vw;
    position: relative;
    height: 100vh;
}


.mobile {
    position: absolute;
    top: 25%;
    right: 40vw;
    width: 18vw;
    height: 60vh;
    /* transform: translate(-55%, -25%); */
    z-index: 3;
}

.hand {
    position: absolute;
    z-index: 3;
    right: 15vw;
    width: 7vw;
    height: 15vh;
    top: 10vh;
}

.card {
    position: absolute;
    z-index: 3;
    right: 23vw;
    top: 20vh;
    width: 7vw;
    height: 15vh;
    margin-top: 10vh;
}


.infoSection {
    width: 25vw;
    height: 20vh;
    margin: 0;
    position: absolute;
    top: 35vh;
    left: 15vw;
    /* padding: 20vh 0 0 17vw; */
    text-align: start;
}

.infoSection > h1 {
    color: var(--cash-app-green, #00D54B);
    font-family: 'Agrandir';
    font-size: 2.5rem;
    margin: 0;
    font-style: normal;
    font-weight: 800;
    line-height: 40px; /* 100% */
}

.infoSection > p {
    color: #fff;
    text-align: start;
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.3px;
    margin: 0;
}


.burger {
    position: absolute;
    z-index: 3;
    right: 30vw;
    bottom: 35vh;
    width: 7vw;
    height: 13vh;
}

.can {
    position: absolute;
    z-index: 3;
    right: 21vw;
    top: 61vh;
    margin-top: 10vh;
    width: 7vw;
    height: 13vh;
}

.shoe {
    position: absolute;
    z-index: 3;
    right: 2vw;
    bottom: 35vh;
    width: 7vw;
    height: 13vh;
    /* margin-top: 10vh; */
}

.stairs1 {
    height: 100vh;
    position: absolute;
    right: 0;
    width: 70vw;
}
.stairs2 {
    height: 100vh;
    position: absolute;
    left: 0;
    width: 30vw;
}


@media screen and (max-width:1200px) {
    .infoSection {
        top: 20vh;
        left: 15vw;
        height: 30vh;
    }
    .mobile {
        height: 50vh;
        top: 35%;
    }
}
@media screen and (max-width:1000px) {
    .infoSection > h1 {
        font-size: 1.5rem;
    }
    .infoSection > p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width:750px) {
    .stairs1 {
        width: 100vw;
    }
    .stairs2 {
        width: 50vw;
    }
    .mobile {
        left: 20vw;
    }
    .hand {
        right: 23vw;
    }
    .burger {
        right: 45vw;
    }
    .card {
        right: 35vw;
    }
    .can {
        right: 35vw;
    }
    .infoSection {
        top: 10vh;
        left: 10vw;
        width: 50vw;
        /* height: 20vh; */
    }
    .infoSection > h1 {
        font-size: 1.5rem;
    }
    .infoSection > p {
        font-size: 1rem;
    }
}


@media screen and (max-width:550px) {
    
    .infoSection{
        top: 3vh;
        left: 10vw;
        width: 45vw;
        height: 20vh;
    }
    .infoSection > h1 {
        width: 70vw;
        font-size: 1rem;
    }
    .infoSection > p {

        font-size: 0.9rem;
    }
}